.content
{
    display: flex;
    flex-flow: column nowrap;
    height: 99vh;
    width: 99vw;
}

.blockOne
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    background: url(../assets/Castle.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 150%;
    background-position: 50% 60%;
}

.text
{
    border: 2px solid gold;
}

#bodyReset
{
    display: flex;
    align-content: center;
    justify-content: center;
}

#bodyText,
#bodySubText
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 10px;
    font-family: MedievalSharp;
    color: #ffdc5d;
    background-color: #42040f;
    opacity: .98; 
}

#bodyText
{
    font-size: 60px;
}

#bodySubText
{
    font-size: 30px;
    padding-bottom: 30px;
}

.cards
{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons,
.scores
{
    display: flex;
    justify-content: space-around;
    width: 35vw;
    background-color: #42040f;
    padding: 30px 0px;
    opacity: .98;
}

.icons
{
    font-size: 70px;
}

.scores
{
    font-size: 40px;
    font-family: MedievalSharp;
    color: #ffdc5d;
}

#result
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.btns
{
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 40px;
    padding: 30px;
}

.rockBtn,
.paperBtn,
.scissorBtn,
.lizardBtn,
.spockBtn
{
    font-size: 100px;
    border: none;
    border-radius: 10px;
    background-color: #42040f;
    padding: 15px;
    border: 2px solid gold;
}

.footer
{
    font-family: MedievalSharp;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #262329;
    color: #ffdc5d;
    flex-shrink: 0; 
}

.resetButton
{
    padding: 10px;
    margin: 10px 5px;
    font-family: MedievalSharp;
    background-color: #42040f;
    color: #ffdc5d;
    border: none;
    border-radius: 10px;
    font-size: 40px;
}